@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: #ffabf3;
  color: rgb(0, 141, 28);
  text-align: center;

  #languages-container {
    margin-top: 20px;    
  }

  #languages-container button {
    margin: 10px;    
  }

  #store .card {
    margin: 10px;
  }
}
